
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


<p> Id: @Model.Id</p>
<p> Id: @Model.Brand</p>
<p> Id: @Model.Model</p>
<p> Id: @Model.Type</p>
<p> Id: @Model.Year</p>
